rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ⚠️ TEMPORARY: GOD MODE (ALLOW ALL READ/WRITE)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}